.segLoginFrm {
	background-image:url('logoTraco.jpg');
	background-repeat:no-repeat;
}

.text {
	color: white!important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.formAsWindow {
	background-color: #dfe8f6;
}